<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de votos</title>
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div class = "container ">
    <div class = "row mt-5 text-center align-items-center">
    <div class = "col">
        <h1> Tabela de votos </h1>
    </div>
    <div class = "col">
        <a href="#" class="btn btn-primary">Voltar</a>
    </div>

        <div class="row">
            <div class="col mt-5">
            
                <table class="table table-striped text-center">

                    <tr>
                        <th> ID </th>
                        <th> Data </th>
                        <th> Usuário </th>
                        <th> Voto </th>
                        <th> Criptografar/Descriptografar </th>
                    </tr>
                    <tr class="align-middle"> 
                        <td > 01 </td>
                        <td> 00/00/00 </td>
                        <td> João </td>
                        <td> Voto </td>
                        <td> <a href="#" class="btn btn-primary">Criptografar</a></td>
                    </tr>


                </table>


            </div>
        </div>
    </div>
    
</body>
</html>